@import "tailwindcss";

:root {

}

@theme inline {
  
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
   
  }
} */

body {
 
}

@utility input-base {
  @apply w-full px-4 py-2 bg-gray-100 border border-gray-300 rounded-lg
  outline-none focus:border-blue-600 transition text-gray-800;
}

@utility btn-primary {
  @apply bg-blue-600 hover:bg-blue-700 active:scale-95 transition text-white;
}

@utility center-position{
  @apply flex items-center justify-center;
}
